*{
    margin: 0;
    padding: 0;
}
header{
    background: #f7b600;
    padding: 15px;
    text-align: center;
}
.container{
    width: 40rem;
    margin: auto;
    text-align: center;
}
.logo{
    padding: 10px;
}
h2{
    color:#4e4e4e;
    font-size: 2.5em;
}
.branco{
    color: white;
}
.menu{
    padding: 20px;
}
a{  
    color: rgb(240, 248, 255);
    text-decoration: none;
    padding: 8px 12px;
}
a:hover{
    background: white;
    color:#f7b600;
}
.sessão-postagens a:hover{
    background: none;
    text-decoration: underline;
}
.sessão-postagens a{
    color: #f7b600;
}
.sessão-postagens{
    width:920px;
    margin: auto;
    padding: 15px;
}
.postagens{
    width: 660px;
    float: left;
}
.postagem{
    padding: 20px;
    background-color:rgba(239, 239, 240, 0.822);
}
.lateral{
    width: 240px;
    float: right;
}
.conteudo-lateral{
    background-color: rgb(240, 247, 247);
    padding: 10px;
}
h3{
    color: #565656;
    background: #CCC;
    padding: 5px;
}
.texto-lateral{
    font-size: 0.8rem;
    padding: 5px;
}
li{
    list-style-type: none;
}
.postagem-lateral{
    padding: 5px;
}